In [1]:
import pandas as pd
import numpy as np

In [3]:
np.random.randn(5,5)

array([[-1.38243955, -1.23415434,  0.41795661, -0.26459401,  1.14234273],
       [-0.81557508,  2.06633381, -1.7129057 ,  1.25860749, -0.87109426],
       [-0.27254555, -0.02844097,  0.95669745, -0.37503905, -0.97775328],
       [-1.99198925,  0.12647274, -0.69991754, -0.90976432, -1.00044384],
       [ 0.39900585, -0.54272802,  2.17762812,  0.33697778, -0.87293968]])

In [4]:
df = pd.DataFrame(np.random.randn(8,3),index = pd.date_range('1/1/2000', periods=8,columns=['a','b','c']))

In [5]:
df

                   0         1         2
2000-01-01  1.222389  2.262945  0.312585
2000-01-02 -0.577285 -0.199955  0.523471
2000-01-03  0.903656  0.560126 -0.984094
2000-01-04 -0.453466  0.304801 -0.398548
2000-01-05 -1.870731 -0.212670  0.155479
2000-01-06  0.240287  0.368285  0.272264
2000-01-07 -1.022397 -0.099662 -1.070236
2000-01-08  0.390644 -0.640261 -0.495185

In [6]:
wp = pd.Panel(np.random.randn(2,5,4),items = ['Item1','Item2'],
             major_axis=pd.date_range('1/1/2000',periods=5),
             minor_axis=['a','b','c','d'])

In [7]:
wp

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Minor_axis axis: a to d

In [9]:
wp['Item1']

                   a         b         c         d
2000-01-01  1.122661  0.311383  0.192687 -1.297123
2000-01-02 -0.944402 -1.715309 -0.768624  2.533270
2000-01-03  0.708302  1.263753 -0.163667 -0.557215
2000-01-04 -1.387586  0.556518  1.112517 -0.171061
2000-01-05  0.280209  0.375662  0.160409 -0.248672

In [10]:
wp['Item2']

                   a         b         c         d
2000-01-01 -0.213056 -1.264084  1.051146  0.472754
2000-01-02 -0.021768 -0.882154  0.473394 -2.441748
2000-01-03 -1.368092 -0.010679  1.005190 -0.177060
2000-01-04 -0.392028  0.968193 -0.201465 -0.105578
2000-01-05 -0.480035  0.731655  0.632837  1.330776

In [12]:
df.equals(df)

True

In [18]:
df.describe().T.iloc[:,:4].rename(index ={0:'a',
                                         1:'b',
                                         2:'c'},
                                 columns = {'count':'size',
                                           })

   size      mean       std       min
a   8.0 -0.145863  1.030588 -1.870731
b   8.0  0.292951  0.884931 -0.640261
c   8.0 -0.210533  0.613344 -1.070236

In [20]:
x = (1,'a',2,'b')
type(x)

tuple

In [21]:
x = [1,'a']

In [22]:
type(x)

list

In [23]:
x.append(1)

In [24]:
for item in x:
    print(item)

1
a
1

In [25]:
i = 0
while (i != len(x)):
    print(x[i])
    i += 1

1
a
1

In [ ]:
[1,2]

In [1]:
import pandas as pd
import numpy as np

In [7]:
pd.Series(['1255','235'])

0    1255
1     235
dtype: object

In [3]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}

In [4]:

s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [5]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')